<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <%- include('../partials/head.ejs'); %>

    <link rel="stylesheet" type="text/css" href="css/homepage.css">


    <title>Home Page</title>
</head>
<body>

  <!-- Navigation Bar -->

  <%- include('../homepage/navbar.ejs'); %>
  

    <!-- JUMBOTRON -->
  <section class="main">
    <div class="container">
        <h1>farm fresh to you</h1>
        <p>We bring fresh vegetables to your door</p>
    </div>
  </section>

  <!-- HOW IT WORKS -->
  <!-- add something later -->

  <!-- PICK UP A BOX -->
  <section class="pickbox">
    <div class="container">
      <div class="row text-center">

        <% if(product) { %>
          <h1 class="text-white">Our Products</h1>

          <% for (let i=0; i < product.length; i++) { %>

          <div class="col-md-3 mx-3 my-3 col-sm-6 px-2 py-2 d-flex card">
            <img src="data:image/png;base64,<%= product[i].image %>" class="card-img-top rounded mx-auto d-block">
            <div class="card-body flex-column">
              <h4 class="card-title"><%=product[i].name%></h4>
              <p class="card-text"><%=product[i].descripton%></p>
              <button class="btn mt-auto">Bring me this box</button>
            </div>
          </div>
          <% }  %>
        <% } %>

      </div>
    </div>
  </section>


  <%- include('../partials/footer.ejs'); %>
  
</body>
</html>